doctype html
html(lang=locale)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        block description
            meta(name="description", content=setting('metaDescription'))

        meta(name="author", content=setting('metaAuthor'))

        block metadata
            meta(property="og:title", content=setting('metaTitle'))
            meta(property="og:description", content=setting('metaDescription'))
            meta(property="og:url", content=url)

        meta(property="og:type", content="website")
        meta(property="og:image", content="https://cataas.com/cat/says/cataas.com?t=sq")

        script(src=setting('analytics.url'), data-website-id=setting('analytics.websiteId'), async)

        block title
            title=setting('metaTitle')

        link(rel="icon", type="image/png", href="/cat?width=32&height=32")
        link(rel="canonical" href=canonical)

        block style
            link(rel="stylesheet", href=asset('front/main.css'))

        block script
            script(src=asset('front/main.js'))

    body
        include includes/topbar

        block content

        include includes/footer
